a {
  text-decoration:none
}

/*Change text in autofill textbox*/
input:-webkit-autofill {
  -webkit-text-fill-color: inherit !important;
  background-color: transparents !important;
}
#id_wrapper {
  min-height: 100%;
  position: relative;
  margin-top: 100px;
}

.nav {
  position: fixed;
  z-index: 10;
  left: 0;
  right: 0;
  top: 0;
  background-color: #f9f9f9;
}

.nav_container {
  max-width: 1320px;
  margin: auto;
  padding: 0 30px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: justify;
  justify-content: space-between;
  height: 65px;
}

.nav_logo_box {
    display: inline-block;
}

.navbar-brand {
  margin-top: -10px;
}

.button {
  display: inline-block;
  min-width: 120px;
  padding: 0 33px;
  height: 42px;
  line-height: 36px;
  border-radius: 42px;
  font-size: 10px;
  letter-spacing: 0.065em;
  text-transform: uppercase;
  font-weight: 700;
  font-family: Montserrat, Helvetica, sans-serif;
  background-color: #f6f6f6;
  border: 2px solid transparent;
  cursor: pointer;
  color: #333435;
  text-align: center;
  text-decoration: none;
  transition: background-color .25s ease-out, box-shadow .25s ease;
}


.button_blank {
  background-color: transparent;
  box-shadow: none;
  color: #333435;
}


.index_page_info_section {
    position: fixed;
    top: 150px;
    left: 0;
    right: 0;
    transform: translateZ(0);
    padding-top: 39px;
    padding-bottom: 54px;
}

.container {
    margin-top: 100px;
    padding: 0 300px;
}

.index_container {
    position: fixed;
    top: 150px;
    max-width: 1320px;
    margin: auto;
    padding: 0 300px;
}

.index_page_info_container {
    margin-bottom: 45px;
}

.index_page_info_paragraph_title {
  font-size:40px;
  color:#ABABAB;
  text-align: center;
}
.index_page_info_paragraph_content{
  font-size:40px;
  color:#ABABAB;
}
.index_page_info_paragraph_content_blue {
  color:#00D7FF;
}

.footer {
  position: relative;
  background-color: #f9f9f9;
}
.footer_description_box--06 {
  padding: 23px 0 25px;
}

.footer_container {
  max-width: 960px;
  padding: 0 30px;
}

.footer_copyright {
    color: #6a6969;
    font-weight: 700;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    float: right;
}



select {
  height: 40px;
  background: #fff;
  border: 1px solid #d8dce5;
}

.el-input__inner_m {
  width: 60%;
}

.el-input__inner_s {
  width: 40%;
}

.story_content {
  width: 800px;
  margin: 0 auto;
  padding-top: 200px;
}

.story_content p{
  text-align: left;
  font-size: 35px;
  color: #fff;
  letter-spacing: 2px;
}

.buttom {
  margin: 100px 100px;
  text-align: center;
  color: #fff;
}

.gradient_bg {
  background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
}

.write_button {
  padding: 15px 35px;
  border: 1px solid #fff;
  border-radius: 5px;
  background: transparent;
  font-size: 18px;
  color: #fff;
}

.write_button:hover {
  background: #fff;
  color: #b99bd8;
}


@media screen and (min-width: 320px) and (max-width: 450px) {
  .story_content{
    width: 100%;
    padding: 100px 30px 0 30px;
  }
  .story_content p {
    font-size: 60px;
  }
}
