{% extends 'story/base.html' %}
{% load staticfiles %}


{% block head %}
  <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
  <style>
  .index_container {
      margin-top: 200px;
      padding: 0 300px;
  }
  input {
    padding: 15px;
    align-self: center;
    min-width: 80px;
    max-width: 500px;
  }
  </style>
{% endblock %}

{% block body %}
<section>
  <div class="container">
    <div class="index_page__info_container">
      <div class="index_page__logo_box">
      </div>
      <div class="index_page_info_paragraph">
        <p class="index_page_info_paragraph_title">我有一個朋友</p>
        <p class="index_page_info_paragraph_content">她是一個
        <span class="index_page_info_paragraph_content_blue">非常奇怪</span>
        的人，因為她很喜歡
        <span class="index_page_info_paragraph_content_blue">一個人默默地去公園吃榴蓮</span>
        ，哈哈我在說那個人就是你，_______
        XD</p>
        <p class="button">我要寫...</p>




      </div>
    </div>
  </div>
</section>
<script src="https://unpkg.com/vue/dist/vue.js"></script>
  <!-- 引入组件库 -->
  <script src="https://unpkg.com/element-ui/lib/index.js"></script>
  <script>
  $.fn.textWidth = function(text, font) {

      if (!$.fn.textWidth.fakeEl) $.fn.textWidth.fakeEl = $('<span>').hide().appendTo(document.body);

      $.fn.textWidth.fakeEl.text(text || this.val() || this.text() || this.attr('placeholder')).css('font', font || this.css('font'));

      return $.fn.textWidth.fakeEl.width();
  };

  $('.width-dynamic').on('input', function() {
      var inputWidth = $(this).textWidth();
      $(this).css({
          width: inputWidth
      })
  }).trigger('input');


  function inputWidth(elem, minW, maxW) {
      elem = $(this);
      console.log(elem)
  }

  var targetElem = $('.width-dynamic');

  inputWidth(targetElem);
</script>
{% endblock %}
