{% extends 'story/base.html' %}
{% load staticfiles %}
{% block head %}

<style>
@import url(http://fonts.googleapis.com/earlyaccess/notosanstc.css);
body {
  background: #F9F9F9;
}
.container {
  width: 1280px;
  margin-bottom: 100px;
}
.box {
  margin-bottom: 20px;
}
.about_page__tweet {
  width: 230px;
  height: 230px;
  padding: 25px 30px 40px 25px;
  margin: 0 10px 10px 0;
  display: inline-block;
  vertical-align: top;
  overflow: hidden;
  cursor: pointer;
  background-color: #fff;
  border: 1px solid #efefef;
  border-radius: 4px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.about_page__tweet:hover {
  width: 235px;
  height: 235px;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

a {
  color: inherit;
}
</style>
{% endblock %}

{% block body %}

<div class="container">
  <div class="box">
    <a class="button_blank button" href="{% url 'story_list' %}">故事</a>
    <a class="button_blank button" href="{% url 'storyauthors' %}">作者</a>
    <a class="button" href="{% url 'story_new' %}">新增故事</a>
  </div>
  {% for story in storys %}
  <a href="{% url 'story_detail' pk=story.pk %}">
    <div class="about_page__tweet">
      <span>{{ story.created_at|date:"Y / m / d" }}</span>
      <br>
      {{ story.sb_adj }} 的人
      <br><br>
      <p style="font-size:14px; font-family: Noto Sans TC; font-weight: 300; color:#878d99;">
      {{ story.sb_gender }} 是一個 {{ story.sb_adv }} {{ story.sb_adj }} 的人，

      因為{{ story.sb_gender }} {{ story.sb_about }} {{ story.sb_thing }}

      {{ story.who }} 曾經做過一件很{{ story.sth_adj }}的事，

      就是 {{ story.sb_story }}
      <br>
      </p>
    </div>
  </a>
  {% endfor %}
</div>
<script src="//unpkg.com/vue/dist/vue.js"></script>
<script src="//unpkg.com/element-ui@2.0.4/lib/index.js"></script>


{% endblock %}
