{% extends 'story/base.html' %}
{% block head %}
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tagsinput/0.3.5/bootstrap-tagsinput.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tagsinput/0.3.5/bootstrap-tagsinput.js"></script>
<link rel="stylesheet" href="http://code.jquery.com/ui/1.8.18/themes/base/jquery-ui.css" type="text/css" media="all" />
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js" type="text/javascript"></script>

  <style>
  .container {
    width: 960px;
  }
  .abc1{width: 30%;}
  .abc2{width: 40%;}
  .abc3{width: 10%;}
  </style>
{% endblock %}
{% block body %}
<div class="container">
  <h1>介紹新朋友</h1>
  <br>
  <form method="POST" class="post-form">
      {% csrf_token %}
      {{ form.errors}}
    <p>
      {{ form.sb_gender }} 是一個 {{ form.sb_adv }} {{ form.sb_adj }} 的人，
      <br><br>
      因為{{ form.sb_gender }} {{ form.sb_about }} {{ form.sb_thing }}
      <br><br>
      {{ form.who }} 曾經做過一件很{{ form.sth_adj }}，
      <br><br>
      就是 {{ form.sb_story }}
      <br><br>
      {{ form.itjcts }} 我在說那個人就是你，{{ form.sb_name }} {{ form.mark }}
      <br>
      <button type="submit" class="save btn btn-default">Save</button>
    </p>
    <br>
  </form>


</div>
<script>
$(function() {
    $("#tags_input").autocomplete({
    source: "{% url 'tag_list' %}",
    minLength: 2
        });
   });
</script>
{% endblock %}
