{% extends 'story/base.html' %}
{% block content %}

    <form method="POST" class="post-form">
    		{% csrf_token %}
      <p>
        {{ form.sb_gender }} 是一個 {{ form.sb_adv }} {{ form.sb_adj }} 的人，

        因為{{ form.sb_gender }} {{ form.sb_about }} {{ form.sb_thing }}

        {{ form.who }} 曾經做過一件很{{ form.sth_adj }}，

        就是 {{ form.sb_story }}...

        {{ form.itjcts }} 我在說那個人就是你，{{ form.sb_name }} {{ form.mark }}

      </p>
      <br>
      <button type="submit" class="save btn btn-default">Save</button>
    </form>

{% endblock %}
