{% extends 'story/base.html' %}
{% load staticfiles %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/jquery.mCustomScrollbar.min.css' %}">
<link rel="stylesheet" href="{% static 'css/custom.css' %}">
<link href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Courgette" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<style>
  @import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);
  body {
    background: #fff;
  }
  .container {
    width: 1280px;
    margin-bottom: 100px;
  }

  .box {
    margin-bottom: 20px;
  }
  .grid-list-tile {
    z-index: 1000;
  }
  .about_page__tweet {
    border-top: 1px solid #d8d8d8;
    height: 330px;
    margin: 0 10px 10px 0;
    display: inline-block;
    vertical-align: top;
    overflow: hidden;
    cursor: pointer;
  }

  .about_page__tweet p:hover {
    font-weight: 600;
    background:-webkit-linear-gradient(#a18cd1, #a18cd1);
               -webkit-background-clip: text;
               -webkit-text-fill-color: transparent;
  }

  .fonts-module-title {
    margin-top: 12px;
    margin-bottom: 0px;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
}

  .font-preview-text {
    font-size: 20px;
    font-style: normal;
    font-weight: 100;
    line-height: 2;
  }


  a {
    color: inherit;
  }
</style>
{% endblock %}

{% block body %}
  <div class="container">
    <h1>爆料使者 #{{ author.id }}</h1>

    <p>路人: {{ author }}</p>

    {% if story_list %}
    <h3>我的朋友</h3>
    <div class="grid-list-tiles" style="margin-top:50px;">
      {% for story in story_list %}
                <li class="grid-list-tile col-md-4 col-lg-4" style="list-style-type:none;">
                <a href="{% url 'story_detail' pk=story.pk %}">
                  <div class="about_page__tweet">
                    <h1 class="fonts-module-title">{{ story.sb_name }}</h1>
                    <div class="font-preview-controls-container"></div>
                    <p class="font-preview-text">
                    {{ story.sb_gender }} 是一個 {{ story.sb_adv }} {{ story.category }} 的人，

                    因為{{ story.sb_gender }} {{ story.sb_about }} {{ story.sb_thing }}

                    {{ story.who }} 曾經做過一件很{{ story.adjective_t }}的事，

                    就是 {{ story.sb_story|truncatechars:15 }}
                    <br>

                    </p>
                  </div>
                </a>
              </li>
      {% endfor %}
    </div>
    {% else %}
      <p>This blogger hasn't posted anything yet.</p>
    {% endif %}
{% endblock %}
