{% extends 'base.html' %}
{% load staticfiles %}
{% block head %}
<style>
body {
  background: #F9F9F9;
}
.container {
  width: 100%;
  max-width: 1280px;
  margin-top:0px;
  height: 500px;
}
.box {
  margin-left: 450px;
  display: inline-block;
}
h1 {
  color: #878d99;
}

/*Change text in autofill textbox*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus
input:-webkit-autofill,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border:none !important;
  -webkit-text-fill-color: inherit !important;
  -webkit-box-shadow: 0 0 0px 1000px #FFFFFF inset;
  transition: background-color 5000s ease-in-out 0s;
}

input {
  background: #f1f1f1;
  font-size: 20px;
  height: 50px;
  border: 1px solid #f1f1f1;
  color: #878d99;
  outline: none;
  padding-left: 20px;
}
.login-btn{
  color: #878d99;
  background-color: #f8f8f8;
  height: 50px;
  font-size: 20px;
  border: 1px solid #f8f8f8;
  width: 280px;
}
.login-btn:hover {
  background-color: #fff;
}

@media screen and (max-width: 400px){
  .box {
    margin-left: 0;
  }
}
</style>
{% endblock %}
{% block body %}
<div class="container">
  <div class="box">
    <h1>登入</h1>
        <br><br>
        <form method="post">
        {% csrf_token %}
        姓名：{{ form.username }}
        <br><br>
        密碼：{{ form.password }}
        <br><br>
        <button type="submit" class="login-btn">登入</button>
        </form>
        <div class="col-xs-2 col-sm-2">
                <a href="{% url "social:begin" "google-oauth2" %}" class="btn btn-lg btn-block kpx_btn-google-plus"
                   data-toggle="tooltip" data-placement="top"
                   title="Google Plus">
                    GOOGLE LOGIN
                    <span class="hidden-xs"></span>
                </a>
        </div>
  </div>
</div>
{% endblock %}
