{% extends 'base.html' %}
{% load staticfiles %}
{% block head %}
<style>
body {
  background: #fff;
}

#header {
    width: 100%;
    height: 60px;
    position: fixed;
    z-index:9000;
    overflow: auto;
    background: #fff;
    transition: all 0.5s linear;
    padding: 0;
}
#header.active {
     box-shadow: 0 0 10px rgba(0,0,0,0.4);
}

.header-nav-logo {
  position: relative;
  top: 2px;
  left: 20px;
  font-family: 'Caveat', cursive;
  font-size: 35px;
  background:-webkit-linear-gradient(#a18cd1, #fbc2eb);
             -webkit-background-clip: text;
             -webkit-text-fill-color: transparent;
}
.header-nav{
  position: relative;
  top: -34px;
  text-align: right;
}

.header-nav-list{
  display: inline-flex;
  margin-right: 70px;
  list-style-type: none;
}
.header-nav-list li {
  margin-left: 32px;
}

.container {
  width: 100%;
  max-width: 1280px;
  margin-top:0px;
}
.box {
  display: block;
  margin: 0 auto;
  width: 256px;
  margin-top: 70px;
}
h1 {
  color: #878d99;
}

.input-text {
    text-align: left;
    margin-top: 16px;
    line-height: 24px;
    font-size: 16px;
}
input {
    margin: 4px 0 0 0;
    line-height: 24px;
    color: #374049;
    width: 256px !important;
    height: 40px;
    border: 1px solid #cccccc;
    border-radius: 3px;
    padding-left: 10px;
}

.reg-btn{
  color: #fff;
  background-image: linear-gradient(to left, #a18cd1 0%, #fbc2eb 100%);
  height: 40px;
  font-size: 18px;
  border: 1px solid #f8f8f8;
  width: 256px;
  margin: 24px 0px 16px;
  border-radius: 3px;
}
.reg-btn:hover {
  background-image: linear-gradient(to left, #c5b0f5 0%, #ffdaf5 100%);
}

@media screen and (max-width: 400px){
  .box {
    margin-left: 0;
  }
}

</style>
{% endblock %}
{% block body %}
<div class="container">
    <div class="box">
    <h1 style="text-align:center;">註冊</h1>
    <br><br>
    <form method="post">
        {% csrf_token %}
         <div class="input-text">姓名</div>
         <div class="input-wrapper">{{ form.username }}</div>
         <div class="input-text">信箱</div>
         <div class="input-wrapper">{{ form.email }}</div>
         <div class="input-text">密碼</div>
         <div class="input-wrapper">{{ form.password1 }}</div>
         <div class="input-text">確認密碼</div>
         <div class="input-wrapper">{{ form.password2 }}</div>

        <button type="submit" class="reg-btn">註冊</button>
    </form>
    </div>
</div>
{% endblock %}
