{% extends 'base.html' %}
{% load staticfiles %}

{% block head %}
<style>
body {
  background: #F9F9F9;
}
.container {
  width: 1280px;
  margin-top:0px;
}
</style>
{% endblock %}

{% block body %}
<div class="container">
    <h1>User Profile</h1>
    <p>Username: {{ user }}</p>
    <p>User email :{{ user.email }}</p>

    {% if storys %}
      {% for story in storys %}
        {{ story.story_sb_name }}
      {% endfor %}
    {% else %}
      NOOOO
    {% endif %}


    <h1>Following</h1>
    {% for user in user.profile.following.all %}
    <a href='/profiles/{{ user.id }}'>{{ user.username }}</a><br>
    {% empty %}
    <h4>尚未追蹤任何人</h4>
    {% endfor %}

    <h1>Followed By</h1>
    {% for profile in user.followed_by.all %}
    <a href='/profiles/{{ user.id }}'>{{ profile.user.username }}</a><br>
    {% empty %}
    <h4>尚未被任何人追蹤</h4>
    {% endfor %}

</div>

{% endblock %}
